html{
    scroll-behavior: smooth;
  }
  
body{
    background-color: #f55353;
    /*overflow: hidden;*/ 
}
p,h1,h2,h3,h4 {
    font-family: 'Dosis', sans-serif;
}

h1{font-size: 120px;}
h2{font-size: 50px;
color: white; 
font-weight: 100;
 }

.encabezado{
    margin: 120px 120px 80px;
    line-height: 0.2;
}


@media (min-width: 320px) and (max-width: 480px) {
    h1{font-size: 50px; text-align: center;}
    h2{font-size: 23px;
        text-align: center;
    color: white; 
    font-weight: 100;
     }  

     .encabezado{
        margin: 0px;
        line-height: 0.2;
    }
}
