<link async href="https://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

<div style="height: 990px; width: 100%; background-color: #203954; padding: 0px; margin: 0px;">
    <div class="contenedor-menu">

<div style="margin: 50px auto;">
    <h1 class="neon">
        conocimientos
       </h1>
    <div class="ordenador-pantalla-pantalla">
        <div class="grid-container">
            <div style="color: white;">
                <h3>TECNOLOGÍAS WEB</h3>
                <hr style="width: 80%; float: left;">
                <br>
                <p> <a (click)="cargarContenido(1)">HTML5 </a> 
                    <span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                </span>
                 </p>
                <p><a (click)="cargarContenido(2)" style="cursor: pointer;">CSS3 </a>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                </p>
                <p>JAVASCRIPT
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                     ☆
                     ☆
                    </p>
                <p>SASS
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                </p>
                <p>ANGULAR
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                </p>
                <p>REACT
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                    ☆
                </p>
                <p>PHP
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                    ☆
                </p>
                <BR>
                <h3>SOFTWARE</h3>
                <hr style="width: 80%; float: left;">
                <br>
                <p>GIT
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                </p>
                <p>GITKRAKEN
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                </p>
                <p>ZEPLIN
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                </p>
            </div>
            <div>
                <h3>BIBLIOTECAS</h3>
                <hr style="width: 80%; float: left;">
                <br>
                <p>BOOTSTRAP
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                </p>
                <p>JQUERY
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                </p>
                <br>
                <h3>CMS</h3>
                <hr style="width: 80%; float: left;">
                <br>
                <p>WORDPRESS
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                </p>
                <p>DRUPAL
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                </p>
                <p>SHAREPOINT
                    <span class="color-estrella">★</span>
                    ☆
                    ☆
                    ☆
                </p>
                <p>ELEMENTOR
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                    <span class="color-estrella">★</span>
                </p>
            </div>
            <div>
                <h3>LENGAUJES</h3>
                <hr style="width: 80%; float: left;">
                <br>
            </div>
        </div>

        <div style="width: 96%; height: 100px; background-color: white; margin: 20px;" [ngSwitch]="contenidoSeleccionado">

            <div *ngSwitchCase="0">
        
                <p style="color:#6cb7c4;   line-height: 100px; text-align: center; font-size: 20px;">
                 SELECCIONA LOS APARTADOS PARA VER MAS EN PROFUNDIDAD   
                </p>
       
          
          </div> 

      <div *ngSwitchCase="1">
        
            <p style="color:#6cb7c4; padding: 10px;">
            Uso de html semantico.<br>
            Uso de html semantico.
            </p>
   
      
      </div> 
      <div *ngSwitchCase="2">
        <p style="color: #6cb7c4">Contenido del enlace 2</p>
      </div>   
    </div>

      
    </div>
    <a class="el" href="#menu">
    <div style="height: 80px; width: 200px; background-color: white; border-radius: 80px; bottom: 80px; float: left; margin-top: 50px;">
        <h3 style="color:  #132232; text-align: center;">VOLVER ALMENU</h3>
      </div>
      </a>
    <div class="ordenador-pantalla-pie"></div>
    <div class="ordenador-pantalla-base"></div>
</div>      
        <div style="height: 500px; margin: 0px auto; "></div>
    </div>



  </div>