<div style="height: 990px; width: 100%; background-color: #132232; padding: 0px; margin: 0px;">
    <br>
    <div style="width: 100%; height: 10px; background-color: #a2a2a2; margin-top: 10px;"></div>
    <div class="flex-container">
      <div class="vigas"></div>
      <div class="vigas"></div>
      <div class="vigas"></div>  
      <div class="vigas"></div>
      <div class="vigas"></div>
      <div class="vigas"></div>  
      <div class="vigas"></div>
      <div class="vigas"></div>
      <div class="vigas"></div>  
      <div class="vigas"></div>
      <div class="vigas"></div>
      <div class="vigas"></div>  
      <div class="vigas"></div>
      <div class="vigas"></div>
    </div>
    <div style="width: 100%; height: 50px; background-color: #a2a2a2; margin-top: 20px;"></div>
    <div class="flex-container">
      <div class="vigas2"></div>
      <div class="vigas2"></div>
      <div class="vigas2"></div>  
      <div class="vigas2"></div>

    </div>


    <div style="    
    display: grid; 
    grid-template-columns: auto 50px auto; 
    z-index: 0;
    margin-top: 300px;
    position: absolute;
    width: 100%;
    opacity: 0.3;">
    
        <div style="width: 100%; 
        height: 90px; border-top: 10px solid  #bdd9ee;
        background-image: linear-gradient(
           #6d9ebe 20px, 
           #81aecd 10px, #81aecd 40px,
            #96bcd3 1px, #96bcd3 60px,
             #bdd9ee 50px, #bdd9ee 75px,
              #96bad2 20px);
              ">
              </div>
    
        <div style=" 
            width: 50px; 
            height: 120px; 
            background-image: linear-gradient( 164deg, #6d9ebe 50%, #476376 50% );  
                border-top: 10px solid #bdd9ee;
              margin-top: -10px; border-radius: 10px;">
              </div>
           <div style="
           width: 100%; 
           height: 90px; 
           border-top: 10px solid  #bdd9ee ;
           background-image: linear-gradient(
              #6d9ebe 20px, 
              #81aecd 10px, #81aecd 40px,
               #96bcd3 1px, #96bcd3 60px,
                #bdd9ee 50px, #bdd9ee 75px,
                 #96bad2 20px);
                 ">
                 </div>
                    </div>

      <div class="contenedor-menu">

        <div>
            <div style="    
display: grid;  
grid-template-columns: 15% 50px auto;">
    <div style="width: 300px; 
    height: 90px; 
    border-top: 10px solid  #bdd9ee ;
    background-image: linear-gradient(
       #6d9ebe 20px, 
       #81aecd 10px, #81aecd 40px,
        #96bcd3 1px, #96bcd3 60px,
         #bdd9ee 50px, #bdd9ee 75px,
          #96bad2 20px);
          ">
          </div>

          <div style=" 
          width: 50px; 
          height: 120px; 
            background-image: linear-gradient( 164deg, #6d9ebe 50%, #476376 50% );  
            border-top: 10px solid #bdd9ee;
          margin-top: -10px; border-radius: 10px;"></div>
          <div style="width: 109px; height: 90px; 
          border-top: 10px solid  #bdd9ee ; border-right: 10px solid  #bdd9ee ;
          border-radius: 0px 100px 0px 0px;
          background-image: radial-gradient(
            circle at -11% 139%,
            #96bad2 4px,
              #96bad2 55px,
              #bdd9ee  37px,
              #bdd9ee 66px,
              #96bcd3  58px,
              #96bcd3  91px,
              #81aecd  86px,
              #81aecd  111px,
               #6d9ebe 10px
               );
                ">
                </div>
                <div></div>
                <div></div>
                <div style="
                width: 500px; 
                height: 90px; 
                border-top: 10px solid  #bdd9ee ;
                rotate: 90deg;
                margin: 180px -181px;
                background-image: linear-gradient(
                   #6d9ebe 20px, 
                   #81aecd 10px, #81aecd 40px,
                    #96bcd3 1px, #96bcd3 60px,
                     #bdd9ee 50px, #bdd9ee 75px,
                      #96bad2 20px);
                      ">
                      </div>
              </div>
        </div>
        <div>
            <div style="
            width: 300px; 
            height: 1050px; 
            position: absolute;
            border-right: 10px solid  #bdd9ee ;
            margin: -200px;
            rotate: 0deg;
            background-image: linear-gradient(
                -90deg,
               #6d9ebe 20px, 
               #81aecd 10px, #81aecd 60px,
                #96bcd3 1px, #96bcd3 60px,
                 #bdd9ee 0px, #bdd9ee 135px,
                  #96bad2 20px);
                  "> 
                  </div>
                  <div style=" 
                  position: absolute;
                  width: 80px; 
                  rotate: 90deg;
                  height: 350px; 
                  background-image: linear-gradient( 164deg, #6d9ebe 50%, #476376 50% );  
                    border-top: 10px solid #bdd9ee;
                    margin: 700px -90px; 
                    border-radius: 10px;">
                    </div>
                  
        </div>
      </div>              

              <div style="width: 100%; 
              height: 10px; 
              background-color: #a2a2a2; 
              margin-top: 0px;"></div>
              <div class="flex-container">
                <div class="vigas"></div>
                <div class="vigas"></div>
                <div class="vigas"></div>  
                <div class="vigas"></div>
                <div class="vigas"></div>
                <div class="vigas"></div>  
                <div class="vigas"></div>
                <div class="vigas"></div>
                <div class="vigas"></div>  
                <div class="vigas"></div>
                <div class="vigas"></div>
                <div class="vigas"></div>  
                <div class="vigas"></div>
                <div class="vigas"></div>
              </div>
              <div style="
              width: 100%; 
              height: 50px; 
              background-color: #a2a2a2; 
              margin-top: 20px;"></div>
              <div class="flex-container">
                <div class="vigas2"></div>
                <div class="vigas2"></div>
                <div class="vigas2"></div>  
                <div class="vigas2"></div>
          
              </div>
  </div>
