<!-- <div class="trampilla"></div> -->
<div id="contenedorPadre">
<div id="contenedorHijo">
<div id="cabeza">  
<DIV id="cabeza__ceja--izquierda"></DIV>
<DIV id="cabeza__ceja--derecha"></DIV>  
<div id="gafas__cristal"><!--<div id="cabeza__ojos"></div> --></div>
<div id="gafas__cristal"><!--<div id="cabeza__ojos"></div> --></div>           
<div id="cabeza__oreja"></div>
<div id="cabeza__barba" ></div>    
<div id="cabeza__boca">
<div id="cabeza__boca--labios"></div>  
</div>
</div>
</div>
<div id="coleta"></div>
<div id="cajabrazosizquierda">
<div id="brazos__izquierda">
<div id="brazos__izquierda--1"></div>
<div id="brazos__izquierda--2"></div> 
</div>    
</div>        
<div id="cuerpo"></div>
<div id="cuello"></div> 
<div id="piernas">
<div id="piernas__izquierda">
<div id="piernas__izquierda--1"></div>
<div  id="piernas__izquierda--2"></div>
<div id="piernas__izquierda--zapatilla">
    <span style="color: white; font-size: 30px; font-weight: 900; font-family: Arial, Helvetica, sans-serif; padding: 60px;" >N</span>
</div>
</div>
<div id="piernas_derecha">
<div id="piernas__derecha--1" ></div>
<div id="piernas__derecha--2"></div>
<div id="piernas__derecha--zapatilla">
<span style="color: white; font-size: 30px; font-weight: 900; font-family: Arial, Helvetica, sans-serif; padding: 60px;" >N</span></div>
</div>
<div id="sombra"></div>
</div> 
 <div id="cajabrazosderecha">

<div id="brazos__derecho">           
<div class="brazo__derecho--1"   [ngClass]="{'anima1bd': condicion1, 'anima2bd': condicion2, 'anima3bd': condicion3}" >
</div>
<div class="brazo__derecho--2" [ngClass]="{'anima1bi': condicion1, 'anima2bi': condicion2, 'anima3bi': condicion3}" >
    <div class="taza">
        <div id="taza__asa"></div>
      
    <div style=" background-color: black; border-radius: 80px; height: 45px; width: 5px; margin:3px 5px 0px 7px ">
        <div style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(147,108,62,0.7));
        filter: blur(5px); 
        width: 45px; 
        height: 45px; margin-left: -44px;
        border-radius: 0 50% / 0 100%; "></div> 
          <div style="width: 78px;"><p style="rotate: -89deg; margin: -66px -1px; line-height: 0.9;">I <span style="color: red; font-size: 30px;">&#x2764; </span><BR> HTML</p></div>
    </div>
      
    </div>
</div>
</div>

<div class="bolsillo" >
</div>
</div>
</div>