
#contenedorPadre {
    position: fixed;
    transform: scale(0.75);
    animation: movimiento 4s linear 1;
    margin: 0px 0px 0px 500px;
  }
  
  #contenedorHijo {
    border-top: 20px solid black;
    border-right: 25px solid black;
    border-bottom: 15px solid black;
    /* border: black solid 4px; */
    width: 100px;
    border-radius: 40px 50px 80px 40px;
    height: 128px;
    background-color: #e6c591;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  #menu {
    /*animation: movimientomenu 3s linear 1; */
    position: fixed;
    margin: 80px 200PX;
  }
  
  #navegador {
    margin-top: 350px;
  }
  
  #cabeza {
    margin: 30px 0px 0px -15px;
    border-right-width: 20px;
  }
  
  #cabeza__ceja--izquierda {
    width: 36px;
    height: 7px;
    margin: -7px 6px;
    border-radius: 57%;
    box-shadow: 6px 57px -2 black;
    box-shadow: 0px -11px 0 black;
  }
  
  #cabeza__ceja--derecha {
    width: 36px;
    height: 7px;
    margin: -8px 56px;
    border-radius: 57%;
    box-shadow: 6px 57px -2 black;
    box-shadow: 0px -11px 0 black;
  }
  
  #gafas__cristal {
    border: black solid 4px;
    height: 25px;
    width: 45px;
    float: left;
    border-radius: 4px 4px 10px 10px;
    margin: 10px 0px;
    background-image: linear-gradient(100deg, rgba(134, 208, 250, 0.7) 10%, rgba(255, 255, 255, 0.7) 80%, rgba(134, 208, 250, 0.7) 10%);
  }
  
  #cabeza__ojos {
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 80px;
    margin: 6pt 10px;
    opacity: 0.7;
  }
  
  #cabeza__oreja {
    width: 25px;
    background-color: #e6c591;
    height: 40px;
    margin: 10px 120px;
    border-radius: 30px 40px 80px 10px;
  }
  
  #cabeza__barba {
    height: 60px;
    width: 90px;
    background-color: black;
    margin: -10px 10px;
    border-radius: 40px 180px 0px 80px;
  }
  
  #cabeza__boca {
    margin: -40px 15px;
    background-color: #e6c591;
    width: 60px;
    height: 20px;
    border-radius: 20px 100px 20px 20px;
  }
  
  #cabeza__boca--labios {
    width: 25px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 7px solid white;
    animation: labios 15s linear infinite 8s;
  }
  
  #coleta {
    height: 80px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 28px 56px;
    border-radius: 80px;
  }
  
  #cuerpo {
    height: 308px;
    width: 180px;
    background-image: linear-gradient(100deg, #86d0fa 80%, #68a2c3 -30%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 244px 15px;
    border-radius: 40px 40px 0px 0px;
  }
  
  #cajabrazosizquierda {
    height: 258px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 240px 15px;
  }
  
  #brazos__izquierda {
    width: 40px;
    height: 250px;
    position: absolute;
    animation: armAnimation-left 2s linear 2;
    margin: 10px 0px 0px 0px;
  }
  
  #brazos__izquierda--1 {
    width: 61px;
    background-image: linear-gradient(100deg, #86d0fa 30%, #68a2c3 -30%);
    margin: 0px 0px 0px -10px;
    height: 226px;
    transform: rotate(13deg);
    border-radius: 50px 60px 10px 10px;
  }
  
  #brazos__izquierda--2 {
    width: 50px;
    background-color: #e6c591;
    margin: -60px 0px 0px -50px;
    height: 226px;
    transform: rotate(15deg);
    border-radius: 10px 10px 0px 50px;
  }
  
  #cuello {
    height: 50px;
    width: 55px;
    background-color: #e6c591;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(5deg);
    margin: 80px 15px;
    border-top: 50px solid #a37225;
    border-radius: 0px 0px 30px 30px;
  }
  
  #piernas {
    height: 50px;
    width: 180px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 400px 15px;
    border-radius: 0px 0px 20px 20px;
  }
  
  #piernas__izquierda {
    float: left;
    width: 60px;
  }
  
  #piernas__izquierda--1 {
    width: 60px;
    border-right: 36px solid transparent;
    animation: leganimation-left1 2s linear 2;
    border-top: 200px solid black;
  }
  
  #piernas__izquierda--2 {
    width: 60px;
    background-color: black;
    height: 200px;
    animation: leganimation-left2 2s linear 2;
  }
  
  #piernas__izquierda--zapatilla {
    animation: leganimation-leftz 2s linear 2;
    background-color: black;
    height: 60px;
    width: 100px;
    border-radius: 50px 0px 10px 10px;
    border-bottom: 5px solid white;
    margin: 0px -51px;
  }
  
  #piernas_derecha {
    float: right;
    width: 60px;
    margin-left: -50px;
    margin-right: 36px;
  }
  
  #piernas__derecha--1 {
    width: 60px;
    height: 0px;
    border-right: 36px solid transparent;
    border-top: 189px solid black;
    animation: leganimation-right1 2s linear 2;
    border-radius: 80px 80px 0px 0px;
  }
  
  #piernas__derecha--2 {
    width: 60px;
    background-color: black;
    height: 211px;
    margin-left: -1px;
    animation: leganimation-right2 2s linear 2;
  }
  
  #piernas__derecha--zapatilla {
    animation: leganimation-rightz 2s linear 2;
    background-color: black;
    height: 60px;
    width: 100px;
    border-radius: 50px 0px 10px 10px;
    border-bottom: 5px solid white;
    margin: 0px -50px;
  }
  
  #cajabrazosderecha {
    height: 308px;
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 235px 15px;
  }
  
  #brazos__derecho {
    float: right;
    width: 60px;
    height: 250px;
    margin-right: -20px;
    margin-top: -10px;
    animation: boxAnimation 2s linear 2;
  }
  
  .brazo__derecho--1 {
    background-image: linear-gradient(251deg, #86d0fa 63%, #68a2c3 -34%);
    width: 61px;
    margin: 16px 0px 0px 14px;
    height: 226px;
    border-radius: 10px 60px 10px 10px;
    transform: rotate(-20deg);
  }

  .anima1bd{animation: armAnimation-right 2s linear 2;}
  .anima2bd{animation: armAnimation-rightcafe 4s linear 1;}
  .anima3bd{animation: armBeber-right 15s linear infinite;}
  
  .brazo__derecho--2 {
    width: 50px;
    background-color: #e6c591;
    margin: -41px 0px 0px 20px;
    height: 226px;
    transform: rotate(21deg);
    border-radius: 50px 10px 0px 50px;
  }

  .anima1bi{animation: armAnimation-right2 2s linear 2;}
  .anima2bi{animation: armAnimation-right2cafe 4s linear 1;}
  .anima3bi{animation: armBeber-right2 15s linear infinite;}
  
  .taza {
    background-color: white;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin: 227px 0px 0px -15px;
    position: fixed;
    animation: tazanimation 11s linear 1;
  }
  
  .bolsillo {
    width: 60px;
    height: 0px;
    border-right: 36px solid transparent;
    border-top: 189px solid black;
    animation: bolsilloanimation 4s linear 1 4s;
    border-radius: 80px 80px 0px 0px;
    margin: 296px 81px;
    opacity: 0;
    /* width: 82px; 
    /* height: 100px; 
    /* border-radius: 0px 0px 0px 40px; 
    /* box-shadow: -49px 63px 0 black; 
    margin: 296px 81px;
  
     animation: bolsilloanimation 20s linear 1; 
    width: 63px;
    height: 0px;
    border-right: 18px solid transparent;
     border-left: 60px solid transparent; 
    border-bottom: 95px solid black;
    border-radius: 0px 91px 50px 42px;  */
    position: fixed;
  }
  
  #taza__asa {
    border-style: solid;
    border-color: #e6c591 white white;
    border-width: 8px;
    margin: -30px 0px 0px 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    animation: tazanimationasa 4s linear 1;
  }
  
  #sombra {
    background-color: black;
    width: 400px;
    height: 40px;
    opacity: 0.5;
    border-radius: 50%;
    margin: 450px -200px;
  }
  
  @keyframes boxAnimation {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(50deg);
    }
  }
  @keyframes armAnimation-right {
    0%, 100% {
      transform: rotate(-20deg);
      margin: 16px 0px 0px 14px;
    }
    50% {
      transform: rotate(-33deg);
      margin: 40px 0px 0px -8px;
    }
  }
  @keyframes armAnimation-rightcafe {
    0% {
      transform: rotate(-20deg);
      margin: 16px 0px 0px 14px;
    }
    10% {
      transform: rotate(-49deg);
      margin: -24px 0px 0px 47px;
    }
    20% {
      transform: rotate(-29deg);
      margin: -8px 0px 0px 47px;
    }
    30% {
      transform: rotate(-58deg);
      margin: -26px 0px 0px 49px;
    }
    40% {
      transform: rotate(-56deg);
      margin: -16px 0px 0px 46px;
    }
    50% {
      transform: rotate(-20deg);
      margin: 16px 0px 0px 14px;
    }
    100% {
      transform: rotate(-20deg);
      margin: 16px 0px 0px 14px;
    }
  }
  @keyframes armAnimation-right2 {
    0%, 100% {
      transform: rotate(21deg);
      margin: -41px 0px 0px 20px;
    }
    50% {
      transform: rotate(-20deg);
      margin: -40px 0px 0px 90px;
    }
  }
  @keyframes armAnimation-right2cafe {
    0% {
      transform: rotate(21deg);
      margin: -41px 0px 0px 20px;
    }
    10% {
      transform: rotate(40deg);
      margin: -100px 0px 0px 68px;
      border-bottom: 0px solid black;
      inset: auto 0 0;
    }
    15% {
      border-bottom: 0px solid black;
      inset: auto 0 0;
    }
    20% {
      transform: rotate(40deg);
      margin: -76px 0px 0px 44px;
      border-bottom: 20px solid black;
      inset: auto 0 0;
    }
    20.4% {
      border-bottom: 0px solid black;
      inset: auto 0 0;
    }
    30% {
      transform: rotate(38deg);
      margin: -110px 0px 0px 79px;
    }
    40% {
      transform: rotate(40deg);
      margin: -110px 0px 0px 75px;
    }
    50% {
      transform: rotate(83deg);
      margin: -130px 0px 0px -30px;
    }
    100% {
      transform: rotate(83deg);
      margin: -130px 0px 0px -30px;
    }
  }
  @keyframes tazanimation {
    0% {
      opacity: 0;
    }
    55% {
      opacity: 0;
    }
    56% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  /* @keyframes tazanimation {
    0% {
      height: 0px;
    }
  
    39% {
      height: 0px;
    }
    47% {
      height: 0px;
      border-bottom: 0px solid black;
    }
  
    56% {
      height: 50px;
      border-bottom: 50px solid black;
    }
  
    56.2% {
      height: 50px;
      border-bottom: 0px solid black;
    }
  
    100% {
      height: 50px;
      border-bottom: 0px solid black;
    }
  } 
  
  @keyframes  tazanimationasa {
    0% {
     opacity: 0;
    }
  
    39% {
      opacity: 0;
    }
    47% {
      opacity: 1;
    }
  
    56% {
    }
  
    56.2% {
  
    }
  
    100% {
  
    }
  } */
  @keyframes armAnimation-left {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-20deg);
      margin: 10px 0px 0px 30px;
    }
  }
  @keyframes leganimation-right2 {
    0%, 100% {
      transform: rotate(20deg);
      margin: -70px 0px 0px -120px;
      height: 280px;
      border-radius: 60px;
    }
    50% {
      transform: rotate(-20deg);
      margin: -50px 80px 0px 85px;
      height: 250px;
    }
  }
  @keyframes leganimation-right1 {
    0%, 100% {
      transform: rotate(29deg);
      margin: 20px 0px 0px -50px;
      border-radius: 0px 0px 0px 0px;
    }
    50% {
      transform: rotate(-20deg);
      margin: 20px 0px 0px 30px;
    }
  }
  @keyframes leganimation-rightz {
    0%, 100% {
      transform: rotate(9deg);
      border-radius: 50px 50px 10px 10px;
      margin: -30px 0px 0px -200px;
    }
    50% {
      transform: rotate(-20deg);
      margin: -20px 0px 0px 80px;
      border-radius: 50px 0px 10px 10px;
    }
  }
  @keyframes leganimation-left1 {
    0%, 100% {
      transform: rotate(-20deg);
      border-radius: 50px 50px 10px 10px;
      margin: 0px 0px 0px 20px;
    }
    50% {
      transform: rotate(30deg);
      margin: 0px 0px 0px -20px;
      border-radius: 50px 0px 10px 10px;
    }
  }
  @keyframes leganimation-left2 {
    0%, 100% {
      transform: rotate(-9deg);
      border-radius: 50px 50px 10px -20px;
      margin: -70px 0px 0px 64px;
      height: 280px;
    }
    50% {
      transform: rotate(10deg);
      margin: -70px 0px 0px -80px;
      border-radius: 150px 0px 10px 10px;
      height: 280px;
    }
  }
  @keyframes leganimation-leftz {
    0%, 100% {
      transform: rotate(-15deg);
      margin: -20px 0px 0px 45px;
    }
    50% {
      transform: rotate(10deg);
      margin: -20px 0px 0px -165px;
    }
  }
  @keyframes movimiento {
    0% {
      margin: 0px 0px 0px 1100px;
    }
    100% {
      margin: 0px 0px 0px 500px;
    }
  }
  @keyframes movimientomenu {
    0% {
      margin: 80px 200px 200px -1000px;
    }
    100% {
      margin: 80px 200px 200px 200px;
    }
  }
  @keyframes bolsilloanimation {
    0% {
      opacity: 0;
    }
    34% {
      opacity: 0;
    }
    35% {
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes armBeber-right {
    0% {
      transform: rotate(-20deg);
      margin: 16px 0px 0px 14px;
      background-image: linear-gradient(251deg, #86d0fa 63%, #68a2c3 -34%);
    }
    30% {
      transform: rotate(-20deg);
      margin: 16px 0px 0px 14px;
      background-image: linear-gradient(251deg, #86d0fa 63%, #68a2c3 -34%);
    }
    35% {
      background-image: linear-gradient(210deg, #86d0fa 63%, #68a2c3 -34%);
    }
    40% {
      background-image: linear-gradient(180deg, #86d0fa 63%, #68a2c3 -34%);
    }
    55% {
      background-image: linear-gradient(110deg, #86d0fa 63%, #68a2c3 -34%);
    }
    50% {
      transform: rotate(31deg);
      margin: 16px 0px 0px -51px;
      background-image: linear-gradient(110deg, #86d0fa 63%, #68a2c3 -34%);
    }
    70% {
      transform: rotate(31deg);
      margin: 16px 0px 0px -51px;
      border-radius: 50px 50px 80px 80px;
      background-image: linear-gradient(110deg, #86d0fa 63%, #68a2c3 -34%);
    }
    100% {
      transform: rotate(-20deg);
      margin: 16px 0px 0px 14px;
      background-image: linear-gradient(251deg, #86d0fa 63%, #68a2c3 -34%);
    }
  }
  @keyframes armBeber-right2 {
    0% {
      transform: rotate(83deg);
      margin: -130px 0px 0px -30px;
    }
    30% {
      transform: rotate(83deg);
      margin: -130px 0px 0px -30px;
    }
    50% {
      transform: rotate(155deg);
      margin: -244px 0px 0px -134px;
      border-radius: 50px 0px 10px 10px;
    }
    70% {
      transform: rotate(155deg);
      margin: -244px 0px 0px -134px;
      border-radius: 50px 0px 10px 10px;
    }
    100% {
      transform: rotate(83deg);
      margin: -130px 0px 0px -30px;
    }
  }
  @keyframes labios {
    0% {
      width: 25px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 7px solid white;
    }
    45% {
      width: 25px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 7px solid white;
      margin-left: 0px;
    }
    50% {
      width: 25px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 16px solid #e6c591;
      margin-left: -20px;
    }
    64% {
      width: 25px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 16px solid #e6c591;
      margin-left: -20px;
    }

    70% {
      width: 25px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 7px solid white;
      margin-left: 7px;
    }
    100% {
      width: 25px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-top: 7px solid white;
    }
  }
  
  /*ANIMACION CAIDA*/
  .trampilla{
    width: 250px;
   height: 0px;
   border-right: 60px solid transparent;
   border-left: 60px solid transparent;
   border-bottom: 70px solid black;
   margin: 600px 280px;
   position: absolute;
   animation: trampilla 0.5s linear 1;
 }


 @keyframes trampilla {
  0% {
      margin: 600px 500px;
      width: 0px;
      border-right: 0px solid transparent;
      border-left: 0px solid transparent;
  }
  100% {
      margin: 600px 280px;
      width: 250px;
      border-right: 60px solid transparent;
      border-left: 60px solid transparent;
  }
}
